.info div h1 {
    font-family: 'RussoOne', sans-serif;
    color: black;
    font-size: 35px;
}
.info h2 {
    font-family: var(--nova);
    font-size: 22px;
    text-indent: 5px;
    line-height: 30px;
}
