@font-face {
  font-family: NovaSquare;
  font-weight: 400;
  font-style: normal;
  src: url(../assets/Fonts/NovaSquare-Regular.ttf);
}
@font-face {
  font-family: RussoOne;
  font-weight: 400;
  font-style: normal;
  src: url(../assets/Fonts/RussoOne-Regular.ttf);
}
@font-face {
  font-family: Bungee;
  font-weight: 400;
  font-style: normal;
  src: url(../assets/Fonts/Bungee-Regular.ttf);
}
:root {
  --nova: "NovaSquare", sans-serif;
  --russo: "RussoOne", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/infobg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
p {
  color: black;
}
a {
  color: black;
}
ul {
  list-style-type: square;
}
li p {
  color: #000000;
  background-color: rgb(24, 138, 183);
  border-radius: 0 20px 0 20px;
  padding: 10px;
  font-size: 20px;
}
.container {
  width: 98%;
  border: 10px solid #17065d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 20px;
  box-shadow: 0 0 20px black;
  backdrop-filter: blur(0px) saturate(180%);
  background-color: #80dfff;
}
.container h1 {
  padding: 10px;
  color: black;
  background-color: #00bbff;
  border: 2px solid black;
  border-radius: 10px 0 10px 0;
  animation-name: border;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.container h1 img {
  height: 40px;
  width: auto;
}
.boxes {
  border: 10px solid black;
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.boxes div a {
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.boxes div a h2 {
  font-family: "Lucida Sans Unicode";
  border: 3px solid black;
  padding: 10px;
  border-radius: 7px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxes div a img {
  height: 150px;
  width: 150px;
  border-radius: 50% 0 0 50%;
  border: 3px solid black;
  border-right: 0;
}
.container .home {
  border: 1px solid black;
  width: fit-content;
  padding: 5px 20px;
  background-color: skyblue;
}
.container .home a {
  text-decoration: none;
}
.container .home a p {
  font-family: var(--russo);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  word-spacing: 10px;
}

@keyframes border {
  10% {
    box-shadow: 5px 5px red, -5px -5px blue;
  }
  40% {
    box-shadow: -5px 5px red, 5px -5px blue;
  }
  70% {
    box-shadow: -5px -5px red, 5px 5px blue;
  }
  90% {
    box-shadow: 5px -5px red, -5px 5px blue;
  }
}
